BUNNY_STORAGE_ACCESS_KEY=8acf1dfd-20d8-4cde-bfb7ee476c77-a29d-48c3
BUNNY_STORAGE_ZONE=drikq-news
BUNNY_STORAGE_ENDPOINT=https://sg.storage.bunnycdn.com
BUNNY_CDN_BASE_URL=https://Drikq-news.b-cdn.net
